.DS_Store


# Environment variables and secrets
.env.dev
.env.prod

# Poetry
.venv/
dist/
__pycache__/
poetry.lock
mlflow/mlartifacts/
mlflow/mlruns/

# Temporary files
hub/ph-api/uploads/
saved_embeddings/*
model_data.zip
model_data/
.ipynb_checkpoints/
*.pyc
__MACOSX/._model_data
test_output/


models.echoquality/data/
models.echoquality/weights/
models.echoquality/results/fail*
models.echoprime/data/example_study/
models.echoprime/weights/
models.echoprime/data/
models.echoprime/results/
